<div class="container">

  <h2>רשימת בנות</h2>

<div class="filters">

  <input type="text" placeholder="שם" [(ngModel)]="searchName" />

  <div class="divider"></div>

  <input type="number" placeholder="גיל" [(ngModel)]="searchAge" />

  <div class="divider"></div>

  <input type="text" placeholder="עיר" [(ngModel)]="searchCity" />

  <div class="divider"></div>

  <input type="text" placeholder="עדה" [(ngModel)]="searchTribe" />

</div>

  <div class="cards">

    <div *ngFor="let girl of filteredGirls" class="card">

      <img
        *ngIf="girl.image_url"
        [src]="getImageUrl(girl.image_url)"
        class="avatar"
        (click)="openImage(getImageUrl(girl.image_url))"
      />

      <div class="info">

        <h3>{{ girl.name }}</h3>

        <p>🎂 גיל: {{ girl.age || 'לא צויין' }}</p>
        <p>📍 עיר: {{ girl.city || 'לא צויין' }}</p>
        <p>🧬 עדה: {{ girl.tribe || 'לא צויין' }}</p>

        <a
          *ngIf="girl.resume_url"
          [href]="getPdfUrl(girl.resume_url)"
          target="_blank"
          class="btn"
        >
          📄 צפייה ברזומה
        </a>

      </div>

    </div>

  </div>
</div>

<div class="modal-backdrop" *ngIf="selectedImage" (click)="closeImage()">

  <div class="modal-content" (click)="$event.stopPropagation()">

    <img [src]="selectedImage" />
    <button class="close-btn" (click)="closeImage()">✖</button>

  </div>

</div>